@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

input {
  margin: 3px;
}

:root {
  --etch-size: 16px;
  --square-size: 12.5px;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #1565c0;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.header-container {
  color: white;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 55px;
}

.etch-container {
  width: calc(var(--etch-size) * var(--square-size)) px;
  height: calc(var(--etch-size) * var(--square-size)) px;
  margin: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: grid;
  grid-template-columns: repeat(var(--etch-size), 1fr);
  justify-items: center;
  align-items: center;
  gap: 0;
}

.square {
  height: var(--square-size);
  width: var(--square-size);
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.options-container {
  margin: 15px;
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: space-around;
}

.input-wrapper {
  padding: 15px;
  border-width: 0;
  border-right: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.size-notif-container {
  font-size: 14px;
}

#text-input {
  width: 30px;
}

.input-outline {
  transition: all 2s;
}

.error {
  transform: scale(1.1);
  border-color: red;
  box-shadow: 0 0 10px red;
}

/* .slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider {
  margin-top: 3px;
} */

.colour-container {
  width: 350px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.radio-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#color-picker-label {
  margin-right: 3px;
}

.invisible-button {
  display: none;
}

.sample-color {
  width: 15px;
  height: 15px;
}

.reset-container {
  padding: 15px;
  border-width: 0;
  border-left: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-btn {
  background-color: #1565c0;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.reset-btn:hover {
  background-color: #1b7be9;
}
